[submodule "dependencies/nanobench"]
	path = dependencies/nanobench
	url = https://github.com/martinus/nanobench
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/tinyformat"]
	path = dependencies/tinyformat
	url = https://github.com/c42f/tinyformat.git
